<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="Image Url" type="text" name="gazo">
    <textarea name="written" placeholder="text" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end -%>
</div>

