<div class="contents row">
  <p><% @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |a_tweet| %>
    <%= render partial: "layouts/tweet", locals: { tweet: a_tweet } %>
  <% end %>
  <%= paginate(@tweets) %>
</div>
